# Fonte da verdade do encoding: UTF-8 sem BOM e LF em todo arquivo.
# Editor configurado em ANSI corromperia acentuacao e cedilha em silencio.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
